:host {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  grid-auto-flow: row;
  align-items: center;
  text-align: center;

  &--container {
    margin: 5px;
  }
}

.text {
  margin: 0;
}

.empty {
  padding: 15px;
  text-align: center;
}

@media (max-width: 500px) {
  .grid--container {
    grid-template-columns: 1fr;
  }
}
