<mat-card *rxIf="progressState$; let progress; else: empty">
  <mat-progress-bar
    *ngIf="!progress.estimateCount && !progress.ended"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-progress-bar
    *ngIf="progress.estimateCount && progress.isLoading"
    [value]="(progress.count / progress.estimateCount) * 100"
    mode="determinate"
  ></mat-progress-bar>

  <div class="grid grid--container">
    <div>
      <div class="mat-headline-5 text">
        {{ 'SHARED.PROGRESS_INFO.TOTAL_COUNT' | translate }}
      </div>
      <div class="mat-headline-2 text">{{ progress.count || 0 | number }}</div>
    </div>
    <div *rxLet="timer$" class="grid">
      <div class="mat-headline-5 text">
        {{ timePassed(progress) | date : 'H:mm:ss' : '+0000' }}
      </div>
      <div *ngIf="!progress.estimateCount" class="mat-headline-5 text">
        {{ 'SHARED.PROGRESS_INFO.UNAVAILABLE_ETA' | translate }}
      </div>
      <div *ngIf="progress.estimateCount" class="mat-headline-5 text">
        <ng-container
          *ngIf="progress.count < progress.estimateCount; else complete"
        >
          -{{ countETA(progress) | date : 'H:mm:ss' : '+0000' }}
        </ng-container>
      </div>
      <div
        *ngFor="let measure of customMeasures"
        [matTooltip]="measure.description | translate"
      >
        <span class="mat-headline-5">
          {{ measure.exec(progress) | number : '1.2-2' }}
        </span>
        <span class="mat-small">
          {{ measure.name | translate }}
        </span>
      </div>
    </div>
  </div>
</mat-card>

<ng-template #empty>
  <mat-card class="empty">
    {{ 'SHARED.PROGRESS_INFO.EMPTY_STATE' | translate }}
  </mat-card>
</ng-template>

<ng-template #complete>
  {{ 'SHARED.PROGRESS_INFO.COMPLETE' | translate }}
</ng-template>
