<app-progress-info
  [stateId]="progressId"
  [total]="animeCount"
  [started]="started"
  [stopped]="stopped"
  [timer$]="timer$"
  [rps]="rps"
  [rpm]="rpm"
  [aps]="aps"
  [apm]="apm"
  class="info"
></app-progress-info>

<div class="controls">
  <button
    *ngIf="(timerController$ | async) === 'stop'"
    (click)="downloadAnimes('start')"
    color="primary"
    mat-raised-button
  >
    {{ (timer$ | async) === 0 ? 'Start update' : 'Continue update' }}
  </button>
  <button
    *ngIf="(timerController$ | async) === 'start'"
    (click)="downloadAnimes('stop')"
    color="primary"
    mat-raised-button
  >
    Pause update
  </button>
  <button
    *ngIf="(timerController$ | async) === 'start'"
    (click)="downloadAnimes('stop')"
    color="primary"
    mat-raised-button
  >
    Stop update
  </button>
</div>
