<div class="info">
  <app-progress-info
    [stateId]="progressId"
    [total]="animeCount"
    [started]="started"
    [stopped]="stopped"
    [timer$]="timer$"
    [rps]="rps"
    [rpm]="rpm"
    [aps]="aps"
    [apm]="apm"
  ></app-progress-info>
</div>

animeCount: {{ animeCount }} <br />
storeCount: {{ storeCount }} <br />
storeCount$: {{ (storeCount$ | async)?.count }} <br />

<div class="controls">
  <button
    *ngIf="(timerController$ | async) === 'stop'"
    (click)="downloadAnimes('start')"
    color="primary"
    mat-raised-button
  >
    {{ (timer$ | async) === 0 ? 'Start update' : 'Continue update' }}
  </button>
  <button
    *ngIf="(timerController$ | async) === 'start'"
    (click)="downloadAnimes('stop')"
    color="primary"
    mat-raised-button
  >
    Pause update
  </button>
  <button
    *ngIf="(timerController$ | async) === 'start'"
    (click)="downloadAnimes('stop')"
    color="primary"
    mat-raised-button
  >
    Stop update
  </button>

  <button (click)="setStore()" mat-raised-button>
    Store set
  </button>

  <button (click)="getStore()" mat-raised-button>
    Store get
  </button>
</div>
